body {
  background-color: rgb(37, 37, 37);
  font-family: sans-serif;
  font-size: 15px;
}
.content {
  max-width: 550px;
  margin: auto;
  background-color: white;
  min-height: 220px;
  overflow: hidden;
  border-radius: 20px;
}
.mainheading {
    text-align: center;
    color: white;
    padding: 20px;
    background: linear-gradient(145deg, #0fb8ad 1%, #1fc8db 52%, #2cb5e8 76%);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  }
.homepage {
  text-align: center;
}
.footing {
  text-align: center;
  color: rgb(138, 137, 137);
  font-size: 11px;
}
.mainheadingCV {
  text-align: center;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  background: linear-gradient(145deg, #0fb8ad 1%, #1fc8db 52%, #2cb5e8 76%);
}
th {
  width: 40%;
}
.button1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(rgb(60, 219, 28), rgb(5, 173, 5));
  border: 4px rgb(70, 146, 72);
  border-radius: 5px;
  padding: 15px;
}
.button1:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(0deg,rgb(7, 173, 35), rgb(2, 134, 9));
  border: 10px rgb(43, 92, 44);
  border-radius: 5px;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
  padding: 15px;
}

.button2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(rgb(30, 182, 253), rgb(20, 125, 245));
  border: 4px rgb(70, 146, 72);
  border-radius: 5px;
  padding: 15px;
}
.button2:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(0deg,rgb(3, 143, 207), rgb(14, 94, 185));
  border: 10px rgb(43, 92, 44);
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.24), 0 7px 30px 0 rgba(0,0,0,0.19);
  padding: 15px;
}

.button3 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(rgb(241, 50, 50), rgb(199, 5, 5));
  border: 4px rgb(160, 28, 28);
  border-radius: 5px;
  padding: 15px;
}
.button3:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(0deg,rgb(223, 32, 32), rgb(184, 0, 0));
  border: 10px rgb(180, 17, 17);
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.24), 0 7px 30px 0 rgba(0,0,0,0.19);
  padding: 15px;
}

.button4 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(rgb(138, 39, 219), rgb(91, 2, 173));
  border: 4px rgb(160, 28, 28);
  border-radius: 5px;
  padding: 15px;
}
.button4:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(0deg,rgb(90, 8, 197), rgb(78, 2, 129));
  border: 10px rgb(180, 17, 17);
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.24), 0 7px 30px 0 rgba(0,0,0,0.19);
  padding: 15px;
}