html {
  height: 100%;
}
body {
  font-family: "Jura", sans-serif;
  background-color: rgb(37, 37, 37);
  font-size: 20px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 8px #000000;
}
.footer {
  padding: 0.5em;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.3);
  clear: left;
  text-align: center;
  margin: 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/* TADY ZACINA STARY KOD */
.container {
  min-width: 100%;
  margin: auto;
  min-height: 100%;
  overflow: auto;
  text-align: center;
}
.mainheading {
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px 5px rgb(90, 0, 117);
  line-height: 50%;
  padding: 20px;
}
.heading {
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 5px rgb(90, 0, 117);
  line-height: 50%;
  padding: 20px;
}
.content {
  max-width: 50%;
  margin: auto;
}
.mainheadingCV {
  text-align: center;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  background: linear-gradient(145deg, #0fb8ad 1%, #1fc8db 52%, #2cb5e8 76%);
}
th {
  width: 40%;
}

/* ---------- LOGO STYLING ---------- */
.logo {
  margin: 0 0 0 7%;
  height: 66px;
  float: left;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 37px;
  opacity: 0.75;
  position: relative;
}
.logo:hover {
  -webkit-animation: mouse 1.3s; /* Chrome, Safari, Opera */
  animation: mouse 1.3s;
  animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mouse {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: -23px;
  }
}

/* Standard syntax */
@keyframes mouse {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: -23px;
  }
}
/* END OF LOGO */

/* ---------- NAVIGATION BAR STYLING ---------- */
.nav-bar {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.16);
  top: 0;
  width: 100%;
}
.nav-item {
  float: left;
}
.nav-margin {
  margin-left: 22%;
}
.nav-item a,
.dropbutton {
  font-size: 18px;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 24px 30px;
  text-decoration: none;
}
.nav-item a:hover:not(.active),
.dropdown:hover .dropbutton:hover {
  background: linear-gradient(145deg, #a75fa7 1%, #6904c2 52%, #39409c 76%);
  -webkit-animation: item 1.5s; /* Chrome, Safari, Opera */
  animation: item 1.5s;
  animation-fill-mode: forwards;
}
.active {
  background-color: rgba(0, 0, 0, 0.4);
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #bdbdbd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes item {
  from {
  }
  to {
    text-shadow: 3px 3px 6px #000000;
  }
}

/* Standard syntax */
@keyframes item {
  from {
  }
  to {
    text-shadow: 3px 3px 6px #000000;
  }
}
/* END OF NAVIGATION BAR */

/* ---------- BUTTONS ---------- */
.button1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(rgb(60, 219, 28), rgb(5, 173, 5));
  border: 4px rgb(70, 146, 72);
  border-radius: 5px;
  padding: 15px;
}
.button1:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(0deg, rgb(7, 173, 35), rgb(2, 134, 9));
  border: 10px rgb(43, 92, 44);
  border-radius: 5px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}

.button2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(rgb(30, 182, 253), rgb(20, 125, 245));
  border: 4px rgb(70, 146, 72);
  border-radius: 5px;
  padding: 15px;
}
.button2:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(0deg, rgb(3, 143, 207), rgb(14, 94, 185));
  border: 10px rgb(43, 92, 44);
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.24), 0 7px 30px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}

.button3 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(rgb(241, 50, 50), rgb(199, 5, 5));
  border: 4px rgb(160, 28, 28);
  border-radius: 5px;
  padding: 15px;
}
.button3:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(0deg, rgb(223, 32, 32), rgb(184, 0, 0));
  border: 10px rgb(180, 17, 17);
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.24), 0 7px 30px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}

.button4 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(rgb(138, 39, 219), rgb(91, 2, 173));
  border: 4px rgb(160, 28, 28);
  border-radius: 5px;
  padding: 15px;
}
.button4:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(0deg, rgb(90, 8, 197), rgb(78, 2, 129));
  border: 10px rgb(180, 17, 17);
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.24), 0 7px 30px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}
/* END OF BUTTONS */

/* EBUSINESS */
.ebus {
  margin-left: 20px;
  margin-right: 20px;
}
.ebus2input {
  width: 100%;
  outline: none;
  padding: 8px 12px;
  margin: 4px 0px;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(103, 197, 252);
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  resize: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.ebus2input:focus {
  border-bottom: 2px solid rgb(2, 141, 221);
  background-color: rgb(236, 236, 236);
}
/* END OF EBUSINESS */
