html {
  height: 100%;
}
body {
  font-family: "Jura", sans-serif;
  background-color: rgb(37, 37, 37);
  font-size: 20px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* overflow: hidden; */
  color: white;
  text-shadow: 1px 1px 8px #000000;
}
.footer {
  padding: 0.5em;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.3);
  clear: left;
  text-align: center;
  margin: 0px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.container {
  min-width: 100%;
  margin: auto;
  min-height: 100%;
  overflow: auto;
  text-align: center;
}
.mainheading {
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px 5px rgb(90, 0, 117);
  line-height: 50%;
  padding: 20px;
}
.heading {
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgb(90, 0, 117);
  line-height: 50%;
  padding: 10px 0px 20px 0px;
}
.pheading {
  color: white;
  font-size: 250px;
  text-shadow: 2px 2px 5px rgb(90, 0, 117);
  line-height: 50%;
  padding: 10px 0px 10px 0px;
}
.content {
  max-width: 50%;
  margin: auto;
}
.interests {
  margin: auto;
  border-collapse: collapse;
  min-width: 80%;
  text-align: left;
}
.interests th,
td {
  padding: 10px 10px 10px 20px;
}
.interests th {
  background: rgba(0, 0, 0, 0.5);
}
.interests td {
  background: rgba(255, 255, 255, 0.04);
}
.interests tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.link {
  text-decoration: none;
  color: rgb(203, 2, 230);
}
.link:hover {
  text-decoration: underline rgb(119, 0, 255);
  background: rgba(0, 0, 0, 0.4);
}
.clouds {
  text-align: justify;
}
/* ---------- LOGO STYLING ---------- */
.logo {
  margin: 0 0 0 7%;
  height: 66px;
  float: left;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 37px;
  opacity: 0.75;
  position: relative;
  top: 0px;
  color: white;
  text-decoration: none;
}
.logo a,
.logo a:hover {
  text-decoration: none;
  color: white;
}
.logo:hover {
  color: white;
  -webkit-animation: mouse 1.3s; /* Chrome, Safari, Opera */
  animation: mouse 1.3s;
  animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mouse {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: -23px;
  }
}

/* Standard syntax */
@keyframes mouse {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: -23px;
  }
}
/* END OF LOGO */

/* ---------- NAVIGATION BAR STYLING ---------- */
.nav-bar {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.16);
  top: 0;
  width: 100%;
  height: 58px;
}
.nav-item {
  float: left;
}
.nav-margin {
  margin-left: 22%;
}
.nav-item a,
.dropbutton {
  font-size: 16px;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}
.nav-item a:hover:not(.active),
.dropdown:hover .dropbutton:hover {
  background: linear-gradient(145deg, #a75fa7 1%, #6904c2 52%, #39409c 76%);
  -webkit-animation: item 1.5s; /* Chrome, Safari, Opera */
  animation: item 1.5s;
  animation-fill-mode: forwards;
  text-decoration: none;
  color: white;
}
.active {
  background-color: rgba(0, 0, 0, 0.4);
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #bdbdbd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes item {
  from {
  }
  to {
    text-shadow: 3px 3px 6px #000000;
  }
}

/* Standard syntax */
@keyframes item {
  from {
  }
  to {
    text-shadow: 3px 3px 6px #000000;
  }
}
/* END OF NAVIGATION BAR */

/* ---------- CV PART BOOTSTRAP ---------- */
.bootstrap {
  font-family: "Jura", sans-serif;
  /* margin: auto; */
}
.cardboot {
  text-shadow: 0px 0px;
  /* background: rgba(255, 255, 255, 0.103); */
  /* font-size: 18px; */
  min-height: fit-content;
}
.cardboot a,
.cardboot a:hover {
  color: rgb(123, 0, 139);
}
.mainheadingCV {
  text-align: center;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  background: linear-gradient(145deg, #a75fa7 1%, #6904c2 52%, #39409c 76%);
}
/* END OF CV PART */

/* ---------- BUTTONS ---------- */
.next {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
  padding: 12px 30px;
}
.next:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 12px 30px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}
.add {
  color: white;
  text-decoration: none;
  padding: 20px 30px;
  width: 50%;
  background: linear-gradient(145deg, #a75fa7 1%, #6904c2 52%, #39409c 76%);
  border: 0px;
  font-size: 18px;
}
.add:disabled {
  color: rgb(201, 201, 201);
  text-decoration: none;
  padding: 20px 30px;
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  border: 0px;
  font-size: 18px;
}
.add:hover {
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}
.validate {
  color: rgb(255, 255, 255);
  margin-right: 60px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(196, 3, 255, 0.9);
  font-size: 18px;
}
.validate:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: rgb(140, 0, 255);
}
.clear {
  color: rgb(255, 255, 255);
  margin-right: 30px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0);
  padding: 20px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(196, 3, 255, 0.9);
  font-size: 18px;
}
.clear:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(140, 0, 255);
}
/* Set font to buttons */
.add[type="submit"],
.validate[type="button"],
.clear[type="button"] {
  font-family: "Jura";
}
/* END OF BUTTONS */

/* Radio */
.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hides the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radio:hover input ~ .check {
  background: rgba(0, 0, 0, 0.6);
}
/* When the radio button is checked, add a blue background */
.radio input:checked ~ .check {
  background: linear-gradient(145deg, #c41cc4 1%, #a80fd6 52%, #8200ce 76%);
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.check:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.raio input:checked ~ .check:after {
  display: block;
}
/* End of radio */

.ebus1input {
  color: white;
  width: 100%;
  outline: none;
  padding: 8px 12px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(198, 0, 238);
  border-top: 1px solid rgb(198, 0, 238);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  resize: none;
  border-left: 0px;
  border-right: 0px;
  font-size: 16px;
}
.ebus1input:focus {
  border-bottom: 1px solid rgb(154, 1, 192);
  background-color: rgba(0, 0, 0, 0.6);
}

.ebus2input {
  color: white;
  width: 50%;
  outline: none;
  padding: 8px 12px;
  margin: 4px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(198, 0, 238);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  resize: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: 16px;
}
.ebus2input:focus {
  border-bottom: 1px solid rgb(154, 1, 192);
  background-color: rgba(0, 0, 0, 0.6);
}
/* END OF EBUSINESS */
